[Unit]
 Description=Bathroom Button
 After=multi-user.target systemd-udevd.service
 Wants=systemd-udevd.service

[Service]
 WorkingDirectory=/home/tinybathroom/bathroom_media
 ExecStartPre=/bin/sleep 1
 ExecStart=/home/tinybathroom/.local/bin/uv run python player.py
 Restart=on-failure
 User=tinybathroom
 Environment=PYTHONUNBUFFERED=1

[Install]
 WantedBy=multi-user.target
