[Unit]
 Description=Bathroom Button
 After=multi-user.target

 [Service]
 WorkingDirectory=/home/tinybathroom/bathroom_media
 Type=idle
 ExecStart=/home/tinybathroom/miniconda3/envs/bathroom_button/bin/python player.py
 Restart=on-failure
 User=root
 Environment=PYTHONUNBUFFERED=1

 [Install]
 WantedBy=multi-user.target
 